In [ ]:
import pandas as pd
import re
import numpy as np
import os
import time
import seaborn as sns
import matplotlib.pyplot as plt
import dask.dataframe as dd
from dask.diagnostics import ProgressBar 
import hvplot.dask
from mlxtend.preprocessing import minmax_scaling
#from matplotlib import pyplot as plt    
from scipy import stats

In [2]:
os.chdir("../dataset")
columns = ['PDG ID','Px','Py','Pz' ,'E','m','Status']

df = dd.read_parquet('myfile3.parquet', engine='pyarrow',npartitions = 2)

In [3]:
df.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 7 entries, PDG ID to Status
dtypes: float32(5), int16(2)

In [4]:
df.describe()

Dask DataFrame Structure:
                PDG ID       Px       Py       Pz        E        m   Status
npartitions=1
               float64  float64  float64  float64  float64  float64  float64
                   ...      ...      ...      ...      ...      ...      ...
Dask Name: describe-numeric, 46 tasks

In [5]:
df.head()

   PDG ID         Px         Py         Pz          E             m  Status
0      22   0.006580   0.013100   0.003950   0.015200  0.000000e+00       1
1     -13 -43.200001 -44.700001 -49.599998  79.599998  1.060000e-01       1
2      14   3.500000  21.400000   0.499000  21.700001  2.380000e-07       1
3     -16  41.099998 -18.000000  27.799999  52.799999  9.540000e-07       1
4     211   0.483000  -0.312000   1.520000   1.630000  1.400000e-01       1

In [6]:
df.columns

Index(['PDG ID', 'Px', 'Py', 'Pz', 'E', 'm', 'Status'], dtype='object')

In [7]:
print(df.memory_usage(deep=True).compute())

E         1940007884
Index            128
PDG ID     970003942
Px        1940007884
Py        1940007884
Pz        1940007884
Status     970003942
m         1940007884
dtype: int64

In [8]:
missing_values_count = df.isnull().sum()
#print(missing_values_count[0:7])

In [9]:
with ProgressBar():
    print(missing_values_count)

Dask Series Structure:
npartitions=1
E    int64
m      ...
dtype: int64
Dask Name: dataframe-sum-agg, 4 tasks

In [10]:
df

Dask DataFrame Structure:
              PDG ID       Px       Py       Pz        E        m Status
npartitions=1
               int16  float32  float32  float32  float32  float32  int16
                 ...      ...      ...      ...      ...      ...    ...
Dask Name: read-parquet, 1 tasks

In [11]:
missing_values = df.isnull().sum()
missing_values

Dask Series Structure:
npartitions=1
E    int64
m      ...
dtype: int64
Dask Name: dataframe-sum-agg, 4 tasks

In [12]:
with ProgressBar():
   missing_count_pct = missing_values.compute()
missing_count_pct

[########################################] | 100% Completed | 52.2s

PDG ID    0
Px        0
Py        0
Pz        0
E         0
m         0
Status    0
dtype: int64

In [13]:
#print(df.divisions)    
#print(df.npartitions)

In [14]:
#print(df.divisions)

In [15]:
# sns.set(style="whitegrid")
# f, ax = plt.subplots(figsize=(10, 10))
# seaborn.despine(f, left=True, bottom=True)

# with ProgressBar():
#     sns.histplot(x="Temp", y="Summons Number",
#                 data=citationsAndTemps.compute(), ax=ax)
#     plt.ylim(ymin=0)
#     plt.xlim(xmin=0)

In [16]:
# with ProgressBar():
#     fig, ax = plt.subplots(1, 1, figsize=(15, 3))
#     sns.histplot(df['m'], ax=ax, kde=True, legend=False)
#     ax.set_title("Original Data")

In [17]:
#with ProgressBar():
 #   a =df.hvplot.kde(y='m', width=300, subplots=True)

In [18]:
#a

In [19]:
#df.columns

In [21]:
#print(E)

In [22]:
#normalized_df = df.copy()
# normalize the exponential data with boxcox
#normalized_df[['Px','Py','Pz' ,'E','m','Status']] = stats.boxcox(normalized_df[['Px','Py','Pz' ,'E','m','Status']])

# plot both together to compare
# 'fig, ax=plt.subplots(1, 2, figsize=(15, 3))
# sns.histplot(original_data, ax=ax[0], kde=True, legend=False)
# ax[0].set_title("Original Data")
# sns.histplot(normalized_data[0], ax=ax[1], kde=True, legend=False)
# ax[1].set_title("Normalized data")
# plt.show()

In [ ]:
def normalize(df):
    result = df.copy()
    for feature_name in df.columns:
        max_value = df[feature_name].max()
        min_value = df[feature_name].min()
        result[feature_name] = (df[feature_name] - min_value) / (max_value - min_value)
    return result


feature_name = ['Px','Py','Pz' ,'E','m']
normalized_df = normalize(df)

In [25]:
#df['m'].head()

In [26]:
#####################
#plotting

In [ ]:
#Px
# plot both together to compare
fig, ax=plt.subplots(1, 2, figsize=(15, 3))
sns.histplot(df['Px'], ax=ax[0], kde=True, legend=False)
ax[0].set_title("Original Px")
sns.histplot(normalized_df['Px'], ax=ax[1], kde=True, legend=False)
ax[1].set_title("Normalized Px")
plt.show()