In [121]:
pwd

'C:\\Users\\uddin.b\\PycharmProjects\\software\\dataset'

In [1]:
import pandas as pd
import re
import numpy as np
import os
from itertools import zip_longest
import time
from pathlib import Path
import csv

In [2]:
print("Current working directory: {0}".format(os.getcwd()))

Current working directory: C:\Users\uddin.b\PycharmProjects\software

In [3]:
os.chdir("dataset/")
print("Current working directory: {0}".format(os.getcwd()))

Current working directory: C:\Users\uddin.b\PycharmProjects\software\dataset

In [4]:
def clean_text(input_file, output_file):
    '''

    :param input_file: text file containing the analysis results of ansys
    :param output_file: empty text file
    :return: text file (output_file being filled) after removal of extra words and spaces
    '''
    file1 = open(input_file, 'r')
    file2 = open(output_file, 'w')

    for line in file1:

        # reading all lines that begin

        x = re.match("^([A-Za-z]|\/|\*|\=)", re.sub(r"^[ \t\r\n]+", "", line))
        y = re.search('\S', line)
        if not x and y:
            file2.write(line)

    file1.close()
    file2.close()
    return output_file

In [5]:
def rivet_to_df(input_file):
    '''
    
    :param input_file: cleaned output file from function clean_text without any unnecessary text
    :return: dataframe with 100000 rows as in total events and n_11 and n_13 as columns to show number of these particles in every event
             other columns are 'ID_211', 'n_211', 'meanPt_211','meaneta_211', 'varPt_211', 'vareta_211',
               'ID_22', 'n_22', 'meanPt_22', 'meaneta_22','varPt_22', 'vareta_22'
               
    
    '''
    ##part1 : creates a dataframe df1 with n_11 and n_13 as columns to show number of these particles in every event
    #contains the file as list of list of floats
    data = []

    #leading and trailing spaces and commas are removed,also string is converted to floats
    with open(input_file) as file:
        for line in file:
            event = []
            line = line[:-1].replace(',\n', '\n')
            line = line.rstrip()
            line = line.rstrip(',')
            #print(line)

            for numstr in line.split(","):
                if numstr:
                    try:
                        numFl = float(numstr)
                        event.append(numFl)


                    except ValueError as e:
                        print(e)
            data.append(event)
    file.close()
    #list of dictionieries of size 100000.Each dictionery store n_11 and n_13 for each event
    l =[]
    for item in data:
        d = {'n_11':0,'n_13':0}
        for x in item[::6]:

            if int(x) == 11:
                d['n_11'] =item[item.index(x) + 1]
            if int(x) == 13:
                d['n_13'] =item[item.index(x) + 1]

        l.append(d)
    #list of dictioneries is converted to df
    df1 = pd.DataFrame(l,columns = ['n_11','n_13'])
    
    ##part 2: find out common particles in each event i.e. 22 and 211 and create a dataframe df2 with columns
     ##'ID_211', 'n_211', 'meanPt_211','meaneta_211', 'varPt_211', 'vareta_211',
       ##        'ID_22', 'n_22', 'meanPt_22', 'meaneta_22','varPt_22', 'vareta_22'
    
    chunks = {}
    first_elements = []
    count = 0
    event_ids = []

    for item in data:

        #item.pop()
        chunks[count] = [list(np.float_(item[x:x+6])) for x in range(0, len(item), 6)]
        event_ids.append(chunks[count][0])
        count += 1
    #list of dictionaries with particle ids as keys
    d = []
    i = range(len(chunks))
    for item in i:
        l = {}
        for lists in chunks[item]:
            l[lists[0]] = lists[1:]
        d.append(l)
    #particles id in each event
    particles_event = []
    for item in d:
        particles_event.append(list(item.keys()))
    # common particles in each event
    elements_in_all = list(set.intersection(*map(set, particles_event)))
    #list of dictionaries with two keys i.e. 211 and 22 for each event
    d2 = []
    for item in d:

        item = dict((k, item[k]) for k in elements_in_all if k in item)
        d2.append(item)
    #list of list with each sublist is the [211,total number ,px,py,pz,22.otal number ,px,py,pz]
    dictlist = []
    for item in d2:
        temp = []

        for key, value in item.items():
            temp = value
            temp.insert(0, key)
            dictlist.append(temp)
    x = iter(dictlist)
    dictlist= [a+b for a, b in zip_longest(x, x, fillvalue=[])]
    columns = ['ID_211', 'n_211', 'meanPt_211','meaneta_211', 'varPt_211', 'vareta_211',
               'ID_22', 'n_22', 'meanPt_22', 'meaneta_22','varPt_22', 'vareta_22']
    df2 =  pd.DataFrame(dictlist, columns=columns)
    df2.drop(['ID_211', 'ID_22'], axis=1, inplace=True)
    df2.reset_index(drop=True, inplace=True)
    
    ##merging df1 and df2 together to get df
    datasets = [df1, df2]
    df = pd.concat(datasets,axis =1)
    df.reset_index(drop=True, inplace=True)
    
    
    
    return df

In [6]:
a = clean_text('background7var.txt','a.txt')
b = clean_text('signal7var.txt','b.txt')

In [7]:
dfa = rivet_to_df(a)
dfb = rivet_to_df(b)

In [8]:
dfa

,n_11,n_13,n_211,meanPt_211,meaneta_211,varPt_211,vareta_211,n_22,meanPt_22,meaneta_22,varPt_22,vareta_22
0,5.0,1.0,177.0,1.200300,2.22773,4.15486,2.88133,253.0,0.543051,2.36261,2.186990,3.84918
1,8.0,0.0,48.0,1.793920,3.40869,9.46202,6.83517,79.0,0.661701,3.15288,1.311840,5.63785
2,10.0,2.0,216.0,0.796928,2.54936,1.47104,3.49499,242.0,0.415353,2.37220,0.760971,4.09749
3,1.0,0.0,131.0,1.082840,3.33898,3.66926,4.96105,189.0,0.556650,2.76011,1.826720,3.25890
4,2.0,0.0,157.0,1.214710,2.51976,4.50911,3.76778,199.0,0.591424,2.15625,0.987732,3.30468
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2.0,1.0,188.0,0.909074,3.00045,1.64207,3.58541,198.0,0.475206,2.88071,0.642229,3.07660
99996,4.0,0.0,190.0,0.869529,2.42326,1.64762,2.59428,244.0,0.429981,2.46716,0.677804,3.44386
99997,5.0,0.0,206.0,1.216960,2.45483,6.88666,3.49790,284.0,0.393849,2.78073,0.427200,3.72708
99998,5.0,0.0,177.0,1.195410,2.21723,6.37086,3.43074,197.0,0.465248,2.44946,0.597641,4.42871
99999,3.0,1.0,167.0,0.923375,2.74157,1.82661,3.77316,201.0,0.448209,3.00629,0.535048,4.00627

In [9]:
dfb.head(1)

,n_11,n_13,n_211,meanPt_211,meaneta_211,varPt_211,vareta_211,n_22,meanPt_22,meaneta_22,varPt_22,vareta_22
0,3.0,1.0,165.0,1.25314,2.49607,3.01312,3.77564,210.0,0.639269,2.20267,1.99082,3.75236

In [10]:
def to_parquet(signal_df , background_df , name ):
    '''
      

    :param list1: df of signal i.e. status = 1 assigned here before merging with background df
    :param list2: df of background i.e. status = 0 assigned here before merging with signal df
    :param name : name of parquetfile to be saved
    :return: parquet file containing background and signal data with common IDs(211,222),n_11,n_13,'meanPt_211', 'meaneta_211',
    'varPt_211','vareta_211', 'n_22', 'meanPt_22', 'meaneta_22', 'varPt_22','vareta_22' consolidated per event
    '''
    columns = ['n_11', 'n_13', 'n_211', 'meanPt_211', 'meaneta_211', 'varPt_211',
       'vareta_211', 'n_22', 'meanPt_22', 'meaneta_22', 'varPt_22',
       'vareta_22']
    #signal df
    signal_df['Status'] = 1
    #background df
    background_df['Status'] = 0
    datasets = [signal_df, background_df]
    df = pd.concat(datasets)
    df.reset_index(drop=True, inplace=True)
    df = df.sample(frac=1).reset_index(drop=True)
    
    

    df.to_parquet(name + '.parquet', engine='pyarrow')
    return df

In [13]:
df = to_parquet(dfb,dfa,'lpc')

ArrowNotImplementedError: Support for codec 'snappy' not built